<div class="c-card">
  <img
    [src]="this.productCard.image"
    (click)="this.redirectToPageProduct()"
    class="c-card__image" />
  <app-tag
    [tag]="this.tagLikes"
    [isSelectable]="false"
    [styles]="'c-tag--likes'"
    class="c-card__likes">
  </app-tag>
  <div class="c-card__wrapper-texts">
    <span
      class="o-font-f2-normal c-card__title"
      (click)="this.redirectToPageProduct()">
      {{ this.productCard.description }}
    </span>
    <span class="o-font-f2-normal c-card__price">
      ${{ this.productCard.price }}
    </span>
  </div>
</div>
