<div class="c-shopping-cart-page">
  <div class="c-shopping-cart-page__products">
    <ng-container *ngFor="let productItemCart of this.productItemsCarts">
      <app-shopping-cart-item
        [productItemCart]="productItemCart"
        (removeProductItemCart)="
          this.removeProductItemCart($event)
        "></app-shopping-cart-item>
    </ng-container>
  </div>
  <span class="c-shopping-cart__total-items">
    {{ this.productItemsCarts.length }} productos
  </span>
  <div class="c-shopping-cart-page__total">
    <div class="c-shopping-cart-page__total-title">
      <h3>Total</h3>
    </div>
    <div class="c-shopping-cart-page__total-value">
      <h3>{{ this.getTotalPriceForProducts() | currency }}</h3>
    </div>
  </div>
  <app-button
    (click)="this.contactForWhatsapp()"
    [isContact]="true"
    [styles]="'c-button--contact'"></app-button>
</div>
