<div class="c-header">
  <ul class="c-header__menu">
    <div class="c-header__menu-left">
      <li class="c-header__menu-item">
        <a class="c-header__menu-link o-font-f2-norma" [routerLink]="['/']"
          >Inicio</a
        >
      </li>
      <li class="c-header__menu-item">
        <a
          [routerLink]="['/', 'category']"
          class="c-header__menu-link o-font-f2-normal">
          Categorías</a
        >
      </li>
    </div>
    <li
      class="c-header__menu-item c-header__menu-item--toggle"
      (click)="onToggle($event)">
      <a class="c-header__menu-link" href="">
        <svg-icon
          src="/assets/icons/toggle.svg"
          [class]="'c-header__menu-icon o-icon-size-md'"
          [applyClass]="true">
        </svg-icon>
      </a>
    </li>
    <li class="c-header__menu-item">
      <a class="c-header__menu-link" href="">
        <img src="/assets/images/Logo.png" alt="" class="c-header__logo" />
      </a>
    </li>
    <div class="c-header__menu-right">
      <li class="c-header__menu-item">
        <a class="c-header__menu-link" href="">
          <svg-icon
            src="/assets/icons/search.svg"
            [class]="'c-header__menu-icon o-icon-size-md'"
            [applyClass]="true">
          </svg-icon>
        </a>
      </li>
      <li class="c-header__menu-item">
        <a class="c-header__menu-link" href="">
          <svg-icon
            src="/assets/icons/cart.svg"
            [class]="'c-header__menu-icon o-icon-size-md'"
            [applyClass]="true">
          </svg-icon>
        </a>
      </li>
    </div>
  </ul>
</div>

<div class="c-modal {{ activeModal }}">
  <ul class="c-modal__menu">
    <li class="c-modal__menu-item">
      <a class="c-modal__menu-link o-font-f1-main" href="">Inicio</a>
    </li>
    <li class="c-modal__menu-item">
      <a class="c-modal__menu-link o-font-f1-main" href="">Categorías</a>
    </li>
  </ul>

  <app-button
    [description]="'Cerrrar menú'"
    [styles]="'c-button c-button--default'"
    (click)="onToggle($event)"></app-button>
</div>
