<div class="c-header">
  <ul class="c-header__menu">
    <div class="c-header__menu-left">
      <li class="c-header__menu-item">
        <a class="c-header__menu-link o-font-f2-norma" [routerLink]="['/']"
          >Inicio</a
        >
      </li>
      <li class="c-header__menu-item">
        <a
          [routerLink]="['/', 'catalog']"
          class="c-header__menu-link o-font-f2-normal">
          Catálogo</a
        >
      </li>
    </div>
    <li
      class="c-header__menu-item c-header__menu-item--toggle"
      (click)="onToggleMenu()">
      <a class="c-header__menu-link">
        <svg-icon
          src="/assets/icons/toggle.svg"
          [class]="'c-header__menu-icon o-icon-size-md'"
          [applyClass]="true">
        </svg-icon>
      </a>
    </li>
    <li class="c-header__menu-item c-header__menu-item--logo">
      <a [routerLink]="'/'" class="c-header__menu-link">
        <img src="/assets/images/Logo.png" alt="" class="c-header__logo" />
      </a>
    </li>
    <div class="c-header__menu-right">
      <!-- <li class="c-header__menu-item" (click)="this.onToggleSearch()">
        <a class="c-header__menu-link">
          <svg-icon
            src="/assets/icons/search.svg"
            [class]="'c-header__menu-icon o-icon-size-md'"
            [applyClass]="true">
          </svg-icon>
        </a>
      </li> -->
      <li class="c-header__menu-item" (click)="this.onToggleShoppingCart()">
        <a class="c-header__menu-link">
          <svg-icon
            src="/assets/icons/cart.svg"
            [class]="'c-header__menu-icon o-icon-size-md'"
            [applyClass]="true">
          </svg-icon>
          <span> {{ this.itemsCount$ | async }} </span>
        </a>
      </li>
    </div>
  </ul>
</div>

<app-modal-menu [(isActive)]="this.isActiveModalMenu"></app-modal-menu>
<app-modal-shopping-cart
  [(isActive)]="this.isActiveModalShoppingCart"></app-modal-shopping-cart>
<!-- <app-modal-search [(isActive)]="this.isActiveModalSearch"></app-modal-search> -->
