<div class="c-category">
  <img
    class="c-category__image"
    src="https://imgs.search.brave.com/xdJkt4qVTDvvaCM2_6_aWyEu9FNODYJtDL4fu8TKGQc/rs:fit:893:1024:1/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvdHNoaXJ0L3Rz/aGlydF9QTkc1NDQ4/LnBuZw" />
  <div class="c-category__footer">
    <div class="c-category__wrapper-texts">
      <span class="c-category__title o-font-f1-subtitle">{{
        nameCategory
      }}</span>
      <span class="c-category__quantity o-font-f1-section">
        {{ quantity }} productos</span
      >
    </div>
    <div
      class="c-category__wrapper-icon"
      (click)="this.redirectToPageCategory()">
      <svg-icon
        src="/assets/icons/arrow.svg"
        [class]="'o-icon-size-lg c-category__icon'"
        [applyClass]="true">
      </svg-icon>
    </div>
  </div>
</div>
