<app-header> </app-header>
<div class="o-layout-spacing">
  <section class="c-catalog">
    <span class="c-catalog__title o-font-f1-main">Catálogo</span>
    <div class="c-catalog__filters">
      <div class="c-catalog__filter">
        <span class="c-catalog__filters-title o-font-f1-section">Anime</span>
        <app-select
          [options]="animeOptions"
          (selectChange)="this.updateProductsByAnime($event)"></app-select>
      </div>
      <div class="c-catalog__filter">
        <span class="c-catalog__filters-title o-font-f1-section">Tipo de ropa</span>
        <app-select
          [options]="typeClothingsOptions"
          [optionSelected]="this.clothingTypeSelected"
          (selectChange)="this.updateProductsByCloth($event)"></app-select>
      </div>
      <div class="c-catalog__filter">
        <span class="c-catalog__filters-title o-font-f1-section">Color</span>
        <app-select-color
          (colorSelected)="
            this.updateProductsByColor($event)
          "></app-select-color>
      </div>
      <!-- <div class="c-catalogue__filter c-catalogue__filter--contain-size">
        <span class="c-catalogue__filters-title o-font-f1-section">Talla</span>
        <app-select-size class="c-catalogue__filter-size"
          (sizeSelected)="this.updateProductsBySize($event)"></app-select-size>
      </div> -->
    </div>
  </section>
  <div class="c-cards">
    <ng-template [ngIf]="this.productsCardsFiltered.length">
      <div class="c-cards__wrapper-text">
        <span class="c-cards__title-filter o-font-f2-normal"
          >{{ this.productsCardsFiltered.length }} resultado(os).
        </span>
      </div>
    </ng-template>
    <div class="c-cards__container">
      <ng-container
        *ngFor="let productCardFiltered of this.productsCardsFiltered">
        <app-product-card
          [productCard]="productCardFiltered"></app-product-card>
      </ng-container>
    </div>
  </div>
</div>
