<form [formGroup]="this.formSelect">
  <div class="c-select">
      <select class="c-select__frame o-font-f1-section" formControlName="select" >
          <option
              *ngFor="let option of this.options"
              [ngValue]="option"
              class="c-select__option">
              {{ option }}
          </option>
          
      </select>
      <div class="c-select__arrow">
          <svg-icon 
          src="assets/icons/select_arrow.svg"
          [class]="'c-select__icon o-icon-size-lg'"
          [applyClass]="true"></svg-icon>
      </div>
  </div>
</form>
