.c-categories {
  display: flex;
  flex-direction: column;
  gap: em(24);
  align-items: center;
  &__container {
    display: grid;
    grid-gap: 0.8em;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: 0 50vmin;
    justify-content: center;
    @include only-sm() {
      grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
  }
  &__title {
    font-weight: $semibold;
    color: $grey-900;
  }
}
