.c-clothing-details{
    display: flex;
    flex-direction: column;
    gap: em(32);
    align-items: center;
    
    margin-bottom: em(50);
    &__footer{
        display: flex;
        gap: em(32);
        justify-content: center;
        flex-wrap: wrap;
        &__item{
            display: grid;
            justify-items: center;
            gap: em(8);
        }
    }
    &__content{
        
        display: inline-block;
        /* margin-bottom: em(48);
        display: grid;
        gap: em(48); */

    }
    &__details{
        display: grid;
        gap: em(18);
        margin-bottom: em(48);
    }
    &__button{
        width: 100%;
    }
    &__image-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: em(353);
        text-align: center;
    }
    &__contain-image{
        background-color: $grey-200;
        width: fit-content;
        border-radius: 6px;
        width: em(143);
        height: em(198);
        display: flex;
        
        @include md {
            width: em(170);
            height: em(238);
          }
    }
    &__image{
        
    }
}