.c-category {
  display: grid;
  grid-gap: 0.75em;
  justify-items: center;
  background-color: $green-100;
  border-radius: em(6);
  padding: em(16);
  

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__wrapper-texts {
    display: grid;
    grid-gap: em(4);
    font-weight: $semibold;
  }

  &__wrapper-icon {
    background-color: $neutral-white;
    border-radius: 50%;
    padding: em(8);
    cursor: pointer;
  }
  &__title {
    color: $grey-800;
    font-weight: $semibold;
  }
  &__quantity {
    color: $grey-400;
  }

  &__icon {
    display: grid; // icon center??
    fill: $grey-900;
  }
}
