.c-login{
    width: em(272);
    height: em(333);
    background-color: $neutral-white;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: em(59) auto;
    @include md {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 50vw;
        max-width: 450px;
        height: 400px;
      }
    &__content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        justify-items: center;
        width: em(216);
        &__header{
            display: grid;
            justify-items: center;
            gap: em(7);
            margin-bottom: em(30);
        }
        &__image{
            width: em(70);
            height: em(70);
        }
        &__form{
            display: grid;
            gap: em(7);
            margin-bottom: em(30);
        }
        &__input{
            background-color: $grey-200;
            border-radius: em(5);
            border: none;
            height: em(31);
        }
        &__button{
            width: 100%;
            justify-content: space-around;
        }
    }
}
.c-login-background{
    background-color: $grey-200;
}