.c-product-view{
    display: grid;
    gap: em(48);    
    &__image{
        margin: 0 auto;
    }
    &__details{
        display: grid;
        justify-content: center;
        margin: 0 auto;        
        gap: 2em;        
        @include md {            
            display: flex;
        }
        
        &-top{
            display: grid;
            gap: 2em;
        }
        &-name-price{
            display: grid;
            gap: em(4);
            
        }
        &-name-likes{
            display: flex;
            justify-content: space-between;
            
        }        
        &-sizes{
            display: grid;
            gap: em(12);
        }
        &-colors{
            
            display: grid;
            gap: em(12);
            justify-items: start;
        }
        &-quantity{
            display: grid;
            gap: em(12);
        }
        &-cart-quantity{
            display: flex;
            align-items: center;
            gap: em(12);
        }
    }    
}