.c-shopping-car-item{
    margin-bottom: em(20);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: em(32);
    flex-direction: row-reverse;
    border-bottom: 0.5px solid #CCCCCC;
    max-width: em(376);
    margin: 0 auto;
    @include md {
        width: em(376);
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: em(14);
        align-items: flex-start;
    }

    &__information{
        margin-bottom: em(4);
    }

    &__tags{
        display: flex;
        gap: em(8);
        align-items: center;
        justify-content: space-between;
    }

    &__footer{
        display: flex;
        gap: em(6);
        align-items: center;
        padding: em(6) 0;
    }

    &__remove{
        color: $grey-700;
        text-decoration: underline $grey-700;
    }

    &__image{
        width: em(63);
        height: em(84);
    }

}


