.c-color {
  $color: &;

  border-radius: 50%;
  padding: em(6);
  cursor: pointer;
  outline: none;
  border: none;

  &--white {
    background-color: $neutral-white;
    fill: $neutral-white;

    &.has-selected {
      #{$color}__icon {
        fill: $grey-900;
      }
    }
  }

  &--black {
    background-color: $grey-900;
    fill: $grey-900;
    &.has-selected {
      #{$color}__icon {
        fill: $neutral-white;
      }
    }
  }

  &__icon {
    display: grid;
  }
}
