<div class="c-shopping-car-item">
  <span class="c-shopping-car-item__title">
    {{ this.productItemCart.description }}
  </span>
  <div class="c-shopping-car-item__tags">
    <app-color [tagColor]="this.tagColor"> </app-color>
    <app-tag
      [isSelectable]="false"
      [styles]="'c-tag--size'"
      [tag]="tagSize"></app-tag>
    <app-tag
      [isSelectable]="false"
      [styles]="'c-tag--price'"
      [tag]="tagPrice"></app-tag>
  </div>
  <div class="c-shoppping-cart-item__footer">
    <app-quantity [value]="this.productItemCart.quantity"></app-quantity>
    <span
      (click)="this.onRemoveProduct()"
      class="c-shopping-car-item__remove o-font-f2-small"
      >Remover</span
    >
  </div>
  <img src="/assets/images/shirt.png" class="c-shopping-car-item__image" />
</div>
