<div>
  <span># {{ this.orderCard.orderNumber }}</span>
  <app-tag (selectionOfTag)="showOrder()" [tag]="getTags(1)"></app-tag>
  <app-tag [isSelectable]="false" [tag]="getTags(0)"></app-tag>
  <app-select-size
    [selectedSizes]="selectedSizes"
    [isSelectable]="false"></app-select-size>
  <app-select-color
    [isSelectable]="false"
    [selectedColors]="selectedColors"></app-select-color>
  <span>
    Cantidad
    <app-tag [isSelectable]="false" [tag]="getTags(2)"></app-tag>
  </span>
  <span>
    Precio
    <app-tag [isSelectable]="false" [tag]="getTags(3)"></app-tag>
  </span>
</div>
