<div class="c-category" (click)="onRedirectTo()">
  <img class="c-category__image" [src]="this.image" />
  <div class="c-category__footer">
    <div class="c-category__wrapper-texts">
      <span
        class="c-category__title o-font-f1-subtitle"
        (click)="onRedirectTo()"
        >{{ this.description }}</span
      >
    </div>
    <div class="c-category__wrapper-icon">
      <svg-icon
        [src]="this.icon"
        [class]="'c-category__icon'"
        [applyClass]="true">
      </svg-icon>
    </div>
  </div>
</div>
