<app-back-menu [description]="'Gestión de la ropa'"></app-back-menu>
<app-card-management
  [description]="'Insertar ropa'"
  [icon]="'/assets/icons/insert.svg'"
  [redirectTo]="'/store-management/orders-management/order-search'"
  [image]="'/assets/images/search-order.png'"></app-card-management>
<app-card-management
  [description]="'Listado de ropa'"
  [icon]="'/assets/icons/list.svg'"
  [redirectTo]="'/store-management/orders-management/order-lists'"
  [image]="'/assets/images/order-lists.png'"></app-card-management>

<span class="o-font-f1-main">Resumen de ganancias</span>
<!-- <app-earning-summary
  [earningSummaries]="this.earingSummaries"></app-earning-summary> -->
