@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Manrope:wght@400;500;600&display=swap');

// COLORS
$light-blue-100: #e7f5fb;
$light-blue-200: #cfebf7;
$light-blue-300: #b7e2f3;
$light-blue-400: #9fd8ef;
$light-blue-500: #87ceeb;
$light-blue-600: #6ca5bc;
$light-blue-700: #517c8d;
$light-blue-800: #36525e;
$light-blue-900: #1b292f;
$red-100: #ffcccc;
$red-200: #ff9999;
$red-300: #ff6666;
$red-400: #ff3333;
$red-500: #ff0000;
$red-600: #cc0000;
$red-700: #990000;
$red-800: #660000;
$red-900: #330000;
$grey-100: #e6e6e6;
$grey-200: #cccccc;
$grey-300: #b3b3b3;
$grey-400: #999999;
$grey-500: #808080;
$grey-600: #666666;
$grey-700: #4d4d4d;
$grey-800: #333333;
$grey-900: #1a1a1a;
$neutral-white: #ffffff;
$neutral-black: #000000;
$green-100: #e4f4ec;
$green-200: #afdec7;
$green-300: #7ac8a2;
$green-400: #48af7d;
$green-500: #327a57;
$green-600: #275f44;
$green-700: #1c4430;
$green-800: #11291d;
$green-900: #060e0a;

$font-a: 'Jost';
$font-b: 'Manrope';

$f1-main: (
  sm: (
    font-size: 1.5rem,
    line-height: 160%,
    font-family: $font-a,
    font-weight: normal,
    font-style: normal,
  ),
  md: (
    font-size: 2rem,
  ),
  lg: (
    font-size: 3rem,
  ),
);

$f1-subtitle: (
  sm: (
    font-size: 1.25rem,
    line-height: 160%,
    font-family: $font-a,
    font-weight: normal,
    font-style: normal,
  ),
  md: (
    font-size: 1.5rem,
  ),
  lg: (
    font-size: 2.5rem,
  ),
);
$f1-section: (
  sm: (
    font-size: 1rem,
    line-height: 160%,
    font-family: $font-a,
    font-weight: normal,
    font-style: normal,
  ),
  md: (
    font-size: 1.5rem,
  ),
  lg: (
    font-size: 2rem,
  ),
);
$f1-normal: (
  sm: (
    font-size: 0.88rem,
    line-height: 160%,
    font-family: $font-a,
    font-weight: normal,
    font-style: normal,
  ),
  md: (
    font-size: 0.88rem + 0.5rem,
  ),
  lg: (
    font-size: 1.75rem,
  ),
);
$f1-small: (
  sm: (
    font-size: 0.75rem,
    line-height: 160%,
    font-family: $font-a,
    font-weight: normal,
    font-style: normal,
  ),
  md: (
    font-size: 1rem,
  ),
  lg: (
    font-size: 1.5rem,
  ),
);
$f1-smaller: (
  sm: (
    font-size: 0.62rem,
    line-height: 160%,
    font-family: $font-a,
    font-weight: normal,
    font-style: normal,
  ),
  md: (
    font-size: 0.62rem + 5rem,
  ),
  lg: (
    font-size: 1.25rem,
  ),
);
$f2-normal: (
  sm: (
    font-size: 1rem,
    line-height: 160%,
    font-family: $font-b,
    font-weight: normal,
    font-style: normal,
  ),
);
$f2-small: (
  sm: (
    font-size: 0.88rem,
    line-height: 160%,
    font-family: $font-b,
    font-weight: normal,
    font-style: normal,
  ),
);

$container__witdh: 1696px;
$total-columns__lg: 12;
$total-columns__md: 6;
$total-columns__sm: 4;

$grid-glutter: 20px;
$container-padding: 16px;

// $grid-glutter__lg: 20px;
// $grid-glutter__md: 20px;
// $grid-glutter__sm: 20px;

// RESPONSIVE
// screensiz.es
$screen-desktop-xxl: 2560px;
$screen-desktop-xl: 1920px;
$screen-desktop-lg: 1600px;
$screen-desktop-md: 1440px;
$screen-desktop-sm: 1366px;
$screen-desktop-xs: 1200px;

$screen-tablet-md: 1024px;
$screen-tablet-sm: 768px;

$screen-md: 480px;
$screen-sm: 320px;

$break-tablet: 610px;
$break-desktop: 1190px;
