<div class="c-most-wanted-content">
  <div class="c-most-wanted-content__container">
    <div class="c-most-wanted-content__wrapper-texts">
      <div class="c-most-wanted-content__title o-font-f1-section">
        Lo mas deseado
      </div>
      <span class="c-most-wanted-content__product-name o-font-f1-main">
        {{ this.productMostWanted.description }}
      </span>
    </div>
    <app-button
      [routerLink]="['/product', this.productMostWanted.id]"
      [description]="'Ver producto'"
      [styles]="'c-button c-button--default'"></app-button>
  </div>
  <img
    class="c-most-wanted-content__image"
    [src]="this.productMostWanted.image" />
</div>
