<swiper
  [speed]="500"
  swiper
  [pagination]="true"
  class="mySwiper"
  class="c-product-slider"
  [autoplay]="true"
  [loop]="true"
  [pagination]="{
    type: 'bullets',
    dynamicBullets: true
  }">
  <ng-template swiperSlide>
    <img
      class="c-product-slider__image"
      src="https://imgs.search.brave.com/Q3gxGcyZMgndtv3EAAh60spNlXZPVLC2zH2B8a6rXik/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/cG5na2V5LmNvbS9w/bmcvZnVsbC80LTQz/MDQ1X2JsYWNrLXQt/c2hpcnQtcG5nLXRy/YW5zcGFyZW50LWlt/YWdlLWJsYWNrLXNo/aXJ0cy5wbmc"
      alt="" />
  </ng-template>
  <ng-template swiperSlide>
    <img
      class="c-product-slider__image"
      src="https://imgs.search.brave.com/53_Gq_QBEizqwXEqp_NNWB-VNc3mjcjRo5ZLLUkFp6Q/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zdG9y/ZS5ncmVlbnNreWJs/dWVncmFzcy5jb20v/cHJvZHVjdF9pbWFn/ZXMvbi85NTUvV29y/a19TaGlydF9CbHVl/X183Mjc5MV96b29t/LnBuZw"
      alt="" />
  </ng-template>
  <ng-template swiperSlide>
    <img
      class="c-product-slider__image"
      src="https://imgs.search.brave.com/l0MXr4PlVlwLZSEd9nENGsdfiY_M9-wSDME5Jqc0WYU/rs:fit:798:991:1/g:ce/aHR0cHM6Ly9wdXJl/cG5nLmNvbS9wdWJs/aWMvdXBsb2Fkcy9s/YXJnZS9wdXJlcG5n/LmNvbS1kZW5pbS1i/bHVlLWZ1bGwtcGxh/aW4tc2hpcnRnYXJt/ZW50ZHJlc3NzaGly/dGZpdGZyb250LWJ1/dHRvbmZyb250LXBv/Y2tldGRlbmltLWJs/dWVmdWxsLTE0MjE1/MjYzMTM2ODFqM3Fz/ei5wbmc"
      alt="" />
  </ng-template>
</swiper>
<section class="c-product-details">
  <div class="c-product-details__top">
    <div class="c-product-details__name-price">
      <div class="c-product-details__name-likes">
        <div class="c-product-details__name o-font-f1-main">Banana fish</div>
        <app-tag [tag]="this.likes" [styles]="'c-tag--likes'"></app-tag>
      </div>
      <div class="c-product-details__price o-font-f1-section">$13.00</div>
    </div>
    <div class="c-product-details__sizes">
      <div class="c-product-details__title o-font-f1-section">Talla</div>
      <div class="c-product-details__size-tags">
        <app-select-size
          [sizes]="this.sizes"
          (sizeSelected)="this.sizeSelected($event)">
        </app-select-size>
      </div>
    </div>
    <div class="c-product-details__colors">
      <div class="c-product-details__title o-font-f1-section">Color</div>
      <div class="c-product-details__color-tags">
        <app-select-color
          (colorSelected)="this.colorSelected($event)"></app-select-color>
      </div>
    </div>
  </div>

  <div class="c-product-details__bottom">
    <div class="c-product-details__quantity">
      <span>Cantidad</span>
      <app-quantity></app-quantity>
    </div>
    <div class="c-product-details__buttons">
      <app-button
        (click)="this.addToCart()"
        [description]="'Añadir al carrito'"
        [styles]="'c-button c-button--default'"></app-button>
      <app-button
        [isWithIcon]="true"
        [styles]="'c-button c-button--contact'"></app-button>
    </div>
  </div>
</section>

<section class="c-cards">
  <span class="c-cards__title o-font-f1-main">Lo más deseado</span>
  <div class="c-cards__container">
    <app-product-card
      [image]="
        'https://imgs.search.brave.com/xdJkt4qVTDvvaCM2_6_aWyEu9FNODYJtDL4fu8TKGQc/rs:fit:893:1024:1/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvdHNoaXJ0L3Rz/aGlydF9QTkc1NDQ4/LnBuZw'
      "></app-product-card>
    <app-product-card
      [image]="
        'https://imgs.search.brave.com/HUSOwClTXELGKNuMrSYEdLQKBfvVitlCiOFNgEdJego/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/dXNjdXN0b210ZWVz/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAxOS8wOC9CYWxs/cy1EZWVwLUZ1bm55/LUdvbGYtVC1TaGly/dC1Hb2xkLTE1NjY4/MDA0OTYucG5n'
      "></app-product-card>
    <app-product-card
      [image]="
        'https://imgs.search.brave.com/IxjaaKVm3fffJlxOO1WvSybILbjlVTxpxX9d45QAgNc/rs:fit:1155:1155:1/g:ce/aHR0cHM6Ly9hbnp0/ZWUuczMudXMtZWFz/dC0yLmFtYXpvbmF3/cy5jb20vdmFwb3J3/YXZlLXN5bnRod2F2/ZS1yZXRyb3dhdmUt/b3Rha3UtY3JlZXB5/LWZvb2QtY3VwY2Fr/ZS1zaGlydC1nNTAw/LWdpbGRhbi01LTMt/b3otdC1zaGlydC5w/bmc'
      "></app-product-card>
    <app-product-card
      [image]="'/assets/images/card.jpg'"
      [productName]="'Jujutsu Kaisen'"></app-product-card>
    <app-product-card
      [image]="'/assets/images/card.jpg'"
      [productName]="'Howl no Ugoku Shiro'"></app-product-card>
    <app-product-card
      [image]="'/assets/images/card.jpg'"
      [productName]="
        'Howl no Ugoku Shirohsdvdhgshjdvjhfghfhgfhgfhgfhg'
      "></app-product-card>
    <app-product-card
      [image]="'/assets/images/card.jpg'"
      [productName]="'Given'"></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
  </div>
</section>
