<div class="c-login">
  <div class="c-login__content">
    <div class="c-login__content-header">
      <img
        routerLink="/"
        src="/assets/images/Logo.png"
        class="c-login__content-image" />
      <span class="o-font-f1-main">Inicio de sesión</span>
    </div>
    <form class="c-login__content-form" [formGroup]="formGroup">
      <input
        formControlName="username"
        type="text"
        class="c-login__content-input o-font-f2-normal" />
      <input
        formControlName="password"
        type="password"
        class="c-login__content-input o-font-f2-normal" />
    </form>
    <app-button
      (click)="this.checkAccount()"
      [isContact]="false"
      [description]="'Iniciar sesión'"
      [styles]="'c-button c-button--contact'"></app-button>
  </div>
</div>
