<app-back-menu [description]="this.actionForProduct + ' ropa'"></app-back-menu>
<div class="c-clothing-details">
  <form
  class="c-clothing-details__c-form"
  [formGroup]="this.clothingDetailsManagement.getFormGroup()">
  <!-- {{ this.clothingDetailsManagement.getPreviewImage() | json }} -->
  
  <ng-container *ngIf="this.clothingDetailsManagement.getPreviewImage()">
    <div class="c-clothing-details__image-details">
      <span><b>Link de la imagen</b></span> <br>
      {{ this.clothingDetailsManagement.getPreviewImage() }}
      <div class="c-clothing-details__contain-image">
        <img
        class="c-clothing-details__image "
        type="image"
        [src]="this.clothingDetailsManagement.getPreviewImage()"
        alt="" />
      </div>
      
      <!-- <input class="c-form__upload" type="file" (change)="setImage($event)" /> -->
    </div>
  </ng-container>

  <div class="c-clothing-details__content">
    <div class="c-clothing-details__details">
      <span class="c-form__title o-font-f1-subtitle"> Imagen </span>
      
      <div class="c-input-with-icon">
        <div class="c-input-with-icon__contain-svg">
            <svg-icon
            src="/assets/icons/picture.svg"
            [class]="'c-input-with-icon__svg o-icon-size-sm'"
            [applyClass]="true"></svg-icon>
        </div>
        <input
          class="c-input-with-icon__input o-font-f2-small"
          type="text"
          formControlName="image" 
          placeholder="Inserte una imagen"/>
      </div>
     
      <span class="c-form__title o-font-f1-subtitle"> Precio </span>
      <div class="c-input-with-icon">
        <div class="c-input-with-icon__contain-svg">
            <svg-icon
            src="/assets/icons/price.svg"
            [class]="'c-input-with-icon__svg o-icon-size-sm'"
            [applyClass]="true"></svg-icon>
        </div>
        <input
          class="c-input-with-icon__input o-font-f2-small"
          type="number"
          step="0.01"
          min="0"
          formControlName="price" 
          placeholder="13.99"/>
      </div>

      <span class="c-form__title o-font-f1-subtitle"> Likes </span>
      <div class="c-input-with-icon">
        <div class="c-input-with-icon__contain-svg">
            <svg-icon
            src="/assets/icons/heart.svg"
            [class]="'c-input-with-icon__svg o-icon-size-sm'"
            [applyClass]="true"></svg-icon>
        </div>
        <input
          class="c-input-with-icon__input o-font-f2-small"
          type="number"
          formControlName="likes"
          min="0" 
          placeholder="1000"/>  
      </div>
      <div class="c-clothing-details__footer">

        <div class="c-clothing-details__footer__item">
          <span class="c-form__title o-font-f2-small"> Tipo de ropa </span>
          <app-select-clothing-type
            (clothingTypeChange)="
              setClothingType($event)
            "></app-select-clothing-type>
        </div>

        <div class="c-clothing-details__footer__item">
          <span class="c-form__title o-font-f2-small"> Anime </span>
          <app-select-anime
            (updateProductsByAnimes)="this.setAnime($event)"></app-select-anime>
        </div>
        
        <div class="c-clothing-details__footer__item">
          <span class="c-form__title o-font-f2-small"> Color </span>
          <app-select-color
            (colorSelected)="this.setColor($event)"></app-select-color>
        </div>
        
      </div>
    </div>
    <button
      [disabled]="this.isDisabled()"
      (click)="this.saveOrUpdateProduct()"
      class="c-button c-button--default c-clothing-details__button">
      <span> {{ this.actionForProduct }}</span>
    </button>
    <span> {{ this.ERRORS }}</span>
  </div>
</form>
</div>

