<div class="o-layout-spacing">
  <app-slider></app-slider>

  <section class="c-categories">
    <span class="c-categories__title o-font-f1-main">Categorías</span>
    <div class="c-categories__container">
      <app-category [quantity]="30"></app-category>
      <app-category [nameCategory]="'Buzos'" [quantity]="5"></app-category>
    </div>
  </section>

  <section class="c-cards">
    <span class="c-cards__title o-font-f1-main">Lo más deseado</span>
    <div class="c-cards__container">
      <app-product-card></app-product-card>
    </div>
  </section>
</div>
