/* You can add global styles to this file,
and also import other style files */ 

$light-blue-100: #e7f5fb;
$light-blue-200: #cfebf7;
$light-blue-300: #b7e2f3;
$light-blue-400: #9fd8ef;
$light-blue-500: #87ceeb;
$light-blue-600: #6ca5bc;
$light-blue-700: #517c8d;
$light-blue-800: #36525e;
$light-blue-900: #1b292f;
$red-100: #ffcccc;
$red-200: #ff9999;
$red-300: #ff6666;
$red-400: #ff3333;
$red-500: #ff0000;
$red-600: #cc0000;
$red-700: #990000;
$red-800: #660000;
$red-900: #330000;
$grey-100: #e6e6e6;
$grey-200: #cccccc;
$grey-300: #b3b3b3;
$grey-400: #999999;
$grey-500: #808080;
$grey-600: #666666;
$grey-700: #4d4d4d;
$grey-800: #333333;
$grey-900: #1a1a1a;
$neutral-white: #ffffff;
$neutral-black: #000000;
$green-100: #e4f4ec;
$green-200: #afdec7;
$green-300: #7ac8a2;
$green-400: #48af7d;
$green-500: #327a57;
$green-600: #275f44;
$green-700: #1c4430;
$green-800: #11291d;
$green-900: #060e0a;

$f1-jost-desktop-main: 3rem;
$f1-jost-desktop-subtitle: 2.5rem;
$f1-jost-desktop-section: 2rem;
$f1-jost-desktop-normal: 1.75rem;
$f1-jost-desktop-small: 1.5rem;
$f1-jost-desktop-smaller: 1.25rem;
$f1-jost-mobile-main: 1.5rem;
$f1-jost-mobile-subtitle: 1.25rem;
$f1-jost-mobile-section: 1rem;
$f1-jost-mobile-normal: 0.88rem;
$f1-jost-mobile-small: 0.75rem;
$f1-jost-mobile-smaller: 0.62rem;
$f2-manrope-normal: 1rem;
$f2-manrope-small: 0.88rem;
