<div class="c-most-wanted-content">
  <div class="c-most-wanted-content__wrapper-texts">
    <div class="c-most-wanted-content__title o-font-f1-section">
      Lo mas deseado
    </div>
    <span class="c-most-wanted-content__product-name o-font-f1-main"
      >Monkey D. Luffy</span
    >
    <app-button [typeButton]="typeButton"></app-button>
  </div>
  <img
    class="c-most-wanted-content__image"
    src="https://imgs.search.brave.com/jF9vjiNYgl1hfdukAocLvh6GJ-p4qDv6IczE8wTBnI4/rs:fit:759:1053:1/g:ce/aHR0cHM6Ly9wcmUw/Ni5kZXZpYW50YXJ0/Lm5ldC8xN2ZlL3Ro/L3ByZS9mLzIwMTQv/MzUyL2QvNi9tb25r/ZXlfZF9fbHVmZnlf/Y2hpYmlfcmVuZGVy/X2J5X3lleWVfY2hh/bi1kOGFhZzJnLnBu/Zw" />
</div>
